.taskCreate {
    max-width: 1280px;
    margin: 0 auto;
    padding: 25px;
    border: 2px dashed #fff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 0 auto;
}

.button {
    all: unset;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 10px 20px;
    background-color: #258fbb;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #1d88b2;
}
