.taskList {
    max-width: 1280px;
    margin: 30px auto 0;
    padding: 25px;
    border: 2px dashed #fff;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error {
    color: #fff;
    font-weight: 600;
    text-align: center;
}
